{% extends "layouts.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('agregar_contactos')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nombrecompleto" placeholder="Nombre Completo">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="telefono" placeholder="Telefono">
          </div>
          <button class="btn btn-primary btn-block">
            Guardar 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre Completo</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>Editar/Eliminar</td>
          </tr>
        </thead>
        <tbody>
          {% for contactos in contactos %}
          <tr>
            <td>{{contactos.0}}</td>
            <td>{{contactos.1}}</td>
            <td>{{contactos.2}}</td>
            <td>{{contactos.3}}</td>
            <td>
              <a href="/editar/{{contactos.0}}" class="btn btn-secondary">Editar</a>
              <a href="/eliminar/{{contactos.0}}" class="btn btn-danger btn-delete">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}